
    <label for="">valor</label>
    <input type="number" name="number" id="number" value="356">
    <button id="btn_submit" type="submit">click</button>

<script src="/js/jquery-2.1.1.min.js"></script>
<script>
    $(document).ready(function(){
        console.log('cargado')
        $("#btn_submit").click(function(e){
            e.preventDefault(e);
            var number = $("#number").val().trim();
            $.ajax({
                url:'/profile/aaa',
                type:'post',
                data:{n:number},
                success:function(response){
                    console.log(response)   
                }
            });
        });
    });
</script>