<h4>Hola {{name}}</h4>
<p>Has recibido este email porque se ha solicitado una recuperación de la contraseña. Si no has sido tu, alguien esta intentado recuperar tus datos de acceso.</p>
<p>haz clic en el botón de abajo para recuerar la contraseña.</p>
<a href="{{domain}}/reset-password/{{token}}">recuperar</a>
<p>si tienes problemas con el botón, copia y pega esta direccion en el navegador</p>
<p>{{domain}}/reset-password/{{token}}</p>
