<h4>Bienvenido a My Domain, {{name}}</h4>
<h3>reenvio de correo de validación</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>haz clic en el boton de abajo</p>
<a href="{{domain}}/validate/{{token}}">validar</a>
<p>si tienes problemas, copia y pega esta direccion en el navegador</p>
<p>{{domain}}/validate/{{token}}</p>
