<div class="col-xs-12">
    <a href="/admin/noticias/crear"><button type='button' class='btn btn-success btn-sm'>Crear Noticia</button></a>
    <h4>
        <small>Para ordenar por múltiples columnas, despues de clickar sobre la primera, mantener MAYÚS al hacer click sobre las demás</small>
    </h4>
    <h4><small>
        <span class="label label-success" style="font-size: 95%;">P</span> = noticia publicada
        <span class="label label-success" style="font-size: 95%;">D</span> = destacada, aparece en la cabecera de su categoría
        <span class="label label-success" style="font-size: 95%;">S</span> = slide, aparece en el 'pasafotos'
        <span class="label label-success" style="font-size: 95%;">H</span> = home, aparce en la página principal</small></h4>
    <hr>
    <div class="table-responsive table-striped">
        <table id="table-data" class="table">
            <thead>
                <tr>
                    <th>Actualizada</th>
                    <th style="width: 150px;">Titulo</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Subcategoria</th>
                    <th title="publicada">P</th>
                    <th title="destacada">D</th>
                    <th title="slide">S</th>
                    <th title="home">H</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each content}}
                    <tr>
                        {{!-- <td> {{updatedAt </td> --}}
                        <td> {{dateFormat updatedAt}} </td>
                        <td> {{title}} </td>
                        <td> {{author.name}} </td>
                        <td> {{category.cat_sup}} </td>
                        <td> {{category.name}} </td>
                        <td>
                            {{#ifCond status 'publicated'}}
                            <span class="label label-success" style="font-size: 95%;">si</span>
                            {{else}}
                            <span class="label label-warning" style="font-size: 95%;">no</span>
                            {{/ifCond}}
                        </td>
                        <td>
                            {{#if featured}}
                                <span class="label label-success" style="font-size: 95%;">si</span>
                            {{else}}
                                <span class="label label-warning" style="font-size: 95%;">no</span>
                            {{/if}}
                        </td>
                        <td>
                            {{#if in_slide}}
                                <span class="label label-success" style="font-size: 95%;">si</span>
                            {{else}}
                                <span class="label label-warning" style="font-size: 95%;">no</span>
                            {{/if}}
                        </td>
                        <td>
                            {{#if in_home}}
                                <span class="label label-success" style="font-size: 95%;">si</span>
                            {{else}}
                                <span class="label label-warning" style="font-size: 95%;">no</span>
                            {{/if}}
                        </td>
                        <td>
                            <a href='/admin/noticias/{{_id}}'><button type='button' class='btn btn-success btn-sm'>Ver</button></a>

                            {{!-- @if (Auth::user()->rol->id <= 3) --}}
                                <button type='button' data-resource="admin/noticias" data-id=" $n->id " class='btn btn-danger btn-sm borrar-noticia'>Borrar</button></a>
                            {{!-- @endif --}}

                            {{!-- @if ($n->autor_id == Auth::user()->id) --}}
                                <a href='admin/noticias/editar/{{_id}}'><button type='button' class='btn btn-warning btn-sm'>Editar</button></a>
                            {{!-- @elseif (Auth::user()->rol->id <= 2) --}}
                                {{!-- <a href=' route('admin.noticias.edit',array($n->id)) '><button type='button' class='btn btn-warning btn-sm'>Editar</button></a> --}}
                            {{!-- @else --}}
                                {{!-- <a href=' route('admin.noticias.edit',array($n->id)) '><button type='button' class='btn btn-warning btn-sm' disabled>Editar</button></a> --}}
                            {{!-- @endif --}}
                            
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>