<ul>
    <li>
        <ul>
            <li>Categorias</li>
            <li><a href="/admin/categoria">listado categorias</a></li>
            <li><a href="/admin/categoria/crear">nueva categoria</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Contenidos</li>
            <li><a href="/admin/contenido">listado contenidos</a></li>
            <li><a href="/admin/contenido/crear">nuevo contenido</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Videos</li>
            <li><a href="/admin/contenido">listado videos</a></li>
            <li><a href="/admin/contenido/crear">nuevo video</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Imagenes</li>
            <li><a href="/admin/contenido">listado imagenes</a></li>
            <li><a href="/admin/contenido/crear">nueva imagen</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Usuarios</li>
            <li><a href="/admin/contenido">listado usuarios</a></li>
            <li><a href="/admin/contenido/crear">nuevo usuario</a></li>
        </ul>
    </li>
</ul>