<form action="/api/v1/login/2fa" method="POST">
    <label for="">preauth</label>
    <input type="text" name="preauth" value="">
    <label for="">two_fa_code</label>
    <input type="text" name="two_fa_code" value="">
    <button id="btn_submit" type="submit">click</button>
</form>
<hr>
{{#each data}}
<p>{{this}}</p>
{{/each}}