


{{!-- slide --}}


<!-- aqui iba el contenido -->

{{#if nodata}}
<div class="col-xs-12 contenedor-noticias">
    <div class="col-xs-12 columna">
        <div class="col-xs-12 bloque-noticias">
            <p><strong>No hay contenido para mostrar</strong></p>
        </div>
    </div>
</div>
{{else}}
    <h1>{{layout}}</h1>
    {{#each data.content}}
        {{#if featured}}
            <div class="noticia-principal">
                <p>{{_id}}</p>
                <p>title: {{title}}</p>
                <p>slug: {{slug}}</p>
                <p>excerpt: {{excerpt}}</p>
                <p>status : {{status}}</p>
                <p>image : {{image}}</p>
                <p>image-alt : {{image-alt}}</p>
                <p>status: {{status}}</p>
                <p>image: {{image}} - image_alt: {{image_alt}}</p>
                <p>category.slug: {{category.slug}} category.name: {{category.name}}</p>
                <p>featured: {{featured}}</p>
            </div>
        {{else}}
            <div class="noticia">
                <p>{{_id}}</p>
                <p>title: {{title}}</p>
                <p>slug: {{slug}}</p>
                <p>excerpt: {{excerpt}}</p>
                <p>status : {{status}}</p>
                <p>image : {{image}}</p>
                <p>image-alt : {{image-alt}}</p>
                <p>status: {{status}}</p>
                <p>image: {{image}} - image_alt: {{image_alt}}</p>
                <p>category.slug: {{category.slug}} category.name: {{category.name}}</p>
                <p>featured: {{featured}}</p>
            </div>
        {{/if}}
        <hr>
    {{/each}}
{{/if}}