<form action="{{data.uri}}" method="POST">
    <label for="">email</label>
    <input type="email" name="email" id="email" value="peter-grifin@gmail.com">
    <label for="">password</label>
    <input type="text" name="password" id="password" value="123456789">
    <button id="btn_submit" type="submit">click</button>
</form>

<script src="/js/jquery-2.1.1.min.js"></script>
<script>
    $(document).ready(function(){
        console.log('cargado')
        $("#btn_submit").click(function(e){
            e.preventDefault();
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();

            if( email != "" && password != "" ){
                $.ajax({
                    url:'/login',
                    type:'post',
                    data:{email:email,password:password},
                    success:function(response){
                        var msg = "";
                        if(response == 1){
                            window.location = "/profile";
                        }else{
                            msg = "Invalid username and password!";
                            alert(msg);
                        }
                    }
                });
            }
        });
    });
</script>