<form action="/api/v1/login" method="POST">
    <label for="">email</label>
    <input type="email" name="email" id="email" value="algio79@gmail.com">
    <label for="">password</label>
    <input type="text" name="password" id="password" value="Hola caracola33">
    <button id="btn_submit" type="submit">click</button>
</form>
<hr>
{{#each data}}
<p>{{this}}</p>
{{/each}}

<hr>

<form action="/api/v1/login/2fa" method="POST">
    <label for="">preauthToken</label>
    <input type="text" name="preauthToken" value="">
    <label for="">two_fa_code</label>
    <input type="text" name="two_fa_code" value="">
    <button id="btn_submit" type="submit">click</button>
</form>