<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>{{title}} | Fútbol en Aragón</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="{{description}}">
   	<link rel="stylesheet" href="/css/bootstrap.css">
   	<link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/bootstrap-image-gallery.css">
    <link rel="stylesheet" href="/css/mgmenu.css">
    <link rel="stylesheet" href="/css/style.css">
    {{{block "styles"}}}
    <style>
    
    </style>
</head>
<body>
    
    {{{body}}}
    
</body>
</html>
