<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | {{static_data.project_name}}</title>
</head>
<body>
    <h1>login</h1>
    {{{body}}}
</body>
</html>