<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>{{title}} | {{static_data.project_name}}</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="{{description}}">
   	<link rel="stylesheet" href="/css/bootstrap.css">
    {{{block "styles"}}}
</head>
<body>    
    <div class="page_wrapper">
        {{> menu}} {{!-- MENU --}}
    </div>
    <div class="container principal">
        <div class="row"> {{!-- LOGO  --}}
            <div class="col-xs-12 logo">
                <img src="/img/logo.png" alt="Logo potaje bits" class='center-block img-responsive'>
            </div>
        </div>
        <div class="row"> {{!-- CONTENIDO  --}}
            {{{body}}}
        </div>
        <div class="row"> {{!--  PIE  --}}
            <div class="col-xs-12 footer">
                <p>footer</p>
            </div>
            <div class="col-xs-12 legal">
                <div class="col-xs-12 legal col-md-6">
                    <span>{{static_data.year}}</span> &copy; Potaje Bits - Todos los derechos reservados
                </div>
                <div class="col-xs-12 legal col-md-6 text-right">
                    <p> Política de privacidad</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{{block "pageScripts"}}}
    <script>
        
    </script>
    {{> analytics}}
</body>
</html>
