<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>{{title}} | Fútbol en Aragón</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="{{description}}">
   	<link rel="stylesheet" href="/css/bootstrap.css">
   	<link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/bootstrap-image-gallery.css">
    <link rel="stylesheet" href="/css/mgmenu.css">
    <link rel="stylesheet" href="/css/style.css">
    {{{block "styles"}}}
    <style>
        .coockie-letter{
            display:none;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            text-align: center;
            z-index: 1000;
        }
            .coockie-letter a, .coockie-letter .cookieOk{
                color: #000;
                background-color: #D6E51B;
                text-decoration: none;
                padding: 8px 3px;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="coockie-letter">
        <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios. Puede cambiar la configuración de su navegador u obtener más información a través de la <a href="http://futbolenaragon.com/privacidad" target="_blank">Política de privacidad.</a></p>
        <p>Si continua navegando, consideramos que acepta su uso. <span class="cookieOk"> Entendido.</span></p>
    </div>
    
    <div class="page_wrapper">
        {{> menu}}
    </div>
    <div class="container principal">
        <div class="row"> <!-- LOGO -->
            <div class="col-xs-12 logo">
                <img src="/img/tituloprincipal.gif" alt="Logo futbol en aragón" class='center-block img-responsive'>
            </div>
        </div>
        <div class="row">                   <!-- BANNER NAVIDAD  -->
            <div class="col-xs-12">
                <img src="/img/banner_grande.png" alt="Feliz navidad desde fútbol en Aragón" class="center-block img-responsive hidden-xs">
                <img src="/img/banner_pequeño.png" alt="Feliz navidad desde fútbol en Aragón" class="center-block img-responsive visible-xs">
            </div>
        </div>
        <div class="row">                   <!-- SLIDE  -->
            <div class="col-xs-12 slide-cabecera">
                {{> slide}}
            </div>
        </div>
        <div class="row">                   <!-- PUBLI-1 -->
            <div class="col-xs-12">
                
            </div>
        </div>
        <div class="row">                   <!-- CONTENIDO -->
            {{{body}}}
        </div>
        <div class="row">                   <!-- PIE -->
            <div class="col-xs-12 footer">
                <!-- PUBLI-2 -->
                
                
                
                <div class="col-xs-12 rss">  <!-- redes sociales -->
                    <h4 class="titulo">Siguenos!!</h4>
                    <a href="http://www.facebook.com/">
                        <img src="/img/facebook.png" alt="Siguenos en facebook" class="item-social" title="Siguenos en facebook">
                    </a>
                    <a href="http://twitter.com/">
                        <img src="/img/twitter.png" alt="Siguenos en twitter" class="item-social" title="Siguenos en twitter">
                    </a>
                    <a href="http://youtube.com/">
                        <img src="/img/youtube.png" alt="Siguenos en youtube" class="item-social" title="Siguenos en youtube">
                    </a>
                    <a style="cursor:pointer;" data-toggle="modal" data-target="#contact">
                        <img src="/img/contacto.png" alt="Contacto" class="item-social" title="Contacto">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 legal">
                <div class="col-xs-12 legal col-md-6">
                    <?php $d = new Datetime; echo $d->format('Y');?> &copy; Futbol en Aragón - Todos los derechos reservados
                </div>
                <div class="col-xs-12 legal col-md-6 text-right">
                    <a href="/privacidad"> Política de privacidad</a>
                </div>
            </div>
        </div>
    </div>
<!-- Formualrio modal contacto -->
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="panel">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title titulo" id="contactLabel">Rellena todos los campos. Te contestaremos lo antes posible.</h4>
                </div>
                <form id="contacto-form" accept-charset="utf-8">
                    <div class="modal-body" style="padding: 15px;">
                      <div class="row">
                            <div class="col-md-6" style="padding-bottom: 10px;">
                                <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" type="text" required autofocus>
                            </div>
                            <div class="col-md-6" style="padding-bottom: 10px;">
                                <input class="form-control" id="email" name="email" placeholder="Correo electrónico" type="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <textarea style="resize:vertical;" class="form-control" placeholder="Mensaje..." rows="6" id="comentario" name="comentario" required></textarea>
                            </div>
                        </div>
                        <div id="mensaje-resultado"></div>
                    </div>  
                    <div class="panel-footer">
                        <input type="submit" class="btn btn-success" id="enviar" value="Enviar"/>
                        <div class="working-form"><img src="/img/ajax.gif" alt="preloader"></div>
                        <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="respuestaEmail" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
             {{!-- sesion --}}
            </div>
        </div>
    </div>
<!-- formulario modal contacto -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/mgmenu_plugins.js"></script>
    <script src="/js/mgmenu.min.js"></script>
    <script src="/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/bootstrap-image-gallery.js"></script>
    <script src="/js/main.js"></script>
    {{{block "pageScripts"}}}
    <script>
        $(function(){
            $('#mgmenu1').universalMegaMenu({
                menu_effect: 'hover_fade',
                menu_speed_show: 300,
                menu_speed_hide: 200,
                menu_speed_delay: 200,
                menu_click_outside: true,
                menubar_trigger : true,
                menubar_hide : false,
                menu_responsive: true
            });
            megaMenuContactForm(); 

            $('.iframes').each(function() {
                $(this).wrap('<div class="video-centro"><div class="flex-video"></div></div>');
            });

            $('#volver').click(function(event) {
                window.history.back();
                return false;
            });

            $('#enviar').click(function(event) {
                event.preventDefault();
                var url = null
                var Cnombre = $("#nombre").val();
                var Cemail = $("#email").val();
                var Ccomentario = $("#comentario").val();
                
                $.ajax({
                    beforeSend: function(){
                      $('.working-form').css('display', 'inline-block');
                      $('#enviar').attr('disabled', true);
                    },
                    cache: false,
                    type: "POST",       // POST | GET
                    dataType: "json",   // html | json
                    url: url,
                    data: {nombre:Cnombre, email:Cemail, comentario:Ccomentario},
                    success: function(data){
                        console.log(data);
                        if (data.resultado == 0) {
                            $('#enviar').attr('disabled', false);
                        } else{
                            $('#enviar').attr('disabled', true);
                        };
                        $('.working-form').css('display', 'none');
                        $('#mensaje-resultado').empty();
                        $('#mensaje-resultado').append(data.mensaje);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown, data){
                        $('.working-form').css('display', 'none');
                        $('#enviar').attr('disabled', false);
                        $('#mensaje-resultado').empty();
                        $('#mensaje-resultado').append("<p style='color:red;'>Error del servidor, inténtalo más tarde");
                        console.log("Status: " + textStatus); 
                        console.log("Error: " + errorThrown);
                    }
                });
            });

            $('#voto').click(function(event) {
                var idEncuesta = $("#form").data('encuesta');
                var voto = $('input[name="encuesta"]:checked').val();

                var url = null
                $.ajax({
                    beforeSend: function(){
                      $('.working').css('display', 'block');
                    },
                    cache: false,
                    type: "POST",       // POST | GET
                    dataType: "json",   // html | json
                    url: url,
                    data: {id: idEncuesta, valorVoto:voto},
                    success: function(data){
                        $('.working').css('display', 'none');
                        if (data.resultado == 'error') {
                            alert(data.mensaje);
                        } else{
                            $('#form').remove();
                            var tabla = $('#tablaResultados');
                            tabla.removeClass('hide');
                            tabla.append(data.datos);
                        };
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown, data){
                        $('.working').css('display', 'none');
                        alert("Error del servidor, inténtalo más tarde");
                        console.log("Status: " + textStatus); 
                        console.log("Error: " + errorThrown);
                    }
                });
            });

            $('#carousel-example-generic').carousel({interval: 8000});  

            checkCookie();
            function checkCookie(){
                var x = Cookies.get("entendido-futbolenaragon.com") || false;
                if(x == 1){
                    $(".coockie-letter").css('display', 'none');
                }else{
                    $(".coockie-letter").css('display', 'block');
                }
            }

            $(".cookieOk").click(function(event) {
                Cookies.set("entendido-futbolenaragon.com", '1', { expires: 365, path: '/' });
                checkCookie();
            });
        });
    </script>
    {{> analytics}}
</body>
</html>
